:root {
	--light-background: #f1f1f1;
	--transition-duration: 150ms;
	--transition-function: ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
	:root {
		--transition-duration: 0;
	}
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

video,
img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
}

.ba_container {
	width: 100%;
	max-width: 990px;
	margin-right: auto;
	margin-left: auto;
}

.ba_inner {
	padding-right: 15px;
	padding-left: 15px;
}
