.my_header {
	padding: 10px;
	background-color: #f1f1f1;
	text-align: center;
	margin-bottom: 5px;

	& h1 {
		font-size: 21px;
		margin: 0;
	}

	& .my_logo {
		display: block;
		width: fit-content;
		margin-left: auto;
		margin-bottom: 10px;
		margin-right: auto;
	}
}

.my_header-2 {
	background-color: blue;
	color: #fff;
	padding: 10px;
}
